---
pagination:
  data: questionData.flashCardQuestionGroups
  size: 1
  alias: questionGroup
permalink: /flash-cards/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set seoTitle %}Question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} | Flash Cards - {{ questionGroup.category }} | Trivia11y{% endset %}
{% set seoDescription %}Answer question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }}: {{ questionGroup.category }} (Flash Cards).{% endset %}

{% block titleAndDescription -%}
  {% from 'macros/seo-info.njk' import seoInfo %}
  {{ seoInfo(seoTitle, seoDescription) }}
{%- endblock %}

{% block content %}
<div class="obj-content-width">
  <article>
    <header class="cmp-game-header">
      <h1 class="cmp-game-header__title">Question <span data-question-number>{{ questionGroup.pageNumber }}</span> of <span data-question-total>{{ questionGroup.questionTotal }}</span></h1>
      <h2 class="cmp-game-header__subtitle">
        {% if questionGroup.category !== 'All Questions' %}
          Category: {{ questionGroup.category }}
        {% else %}
          {{ questionGroup.question.Tags | csvList }}
        {% endif %}
      </h2>
    </header>
    {% from 'macros/flash-card.njk' import flashCard %}
    {{ flashCard(questionGroup.question) }}

    <div class="cmp-pagination">
      {% if questionGroup.questionTotal > questionGroup.pageNumber %}
        <a href="/flash-cards/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber + 1 }}/" data-next-link>
          Next Question
        </a>
      {% else %}
        <span></span>
      {% endif %}

      {% if questionGroup.pageNumber > 1 %}
        <a href="/flash-cards/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber - 1 }}/" data-prev-link>
          Previous Question
        </a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}

{% block scripts %}
  <script src="/js/flash-cards.js" type="module"></script>
{% endblock %}
