---
permalink:
  on-demand: /all-questions/:questionNumber/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set questionNum = eleventy.serverless.path.questionNumber | int %}
{% set questionTotal = questionData.questions.length %}
{% set question = questionData.questions[questionNum - 1] %}

{% block titleAndDescription %}
  <title>Question {{ questionNum }} of {{ questionTotal }} | All Questions | Trivia11y</title>
  <meta name="description" content="Answer question {{ questionNum }} of {{ questionTotal }} in all categories.">
{% endblock %}

{% block content %}
  <h1>Question {{ questionNum }} of {{ questionTotal }}</h1>

  {% from 'macros/flash-card.njk' import flashCard %}
  {{ flashCard(question) }}

  <div class="cmp-pagination">
    {% if questionNum > 1 %}
      <a href="/all-questions/{{ questionNum - 1 }}/">
        Previous Question
      </a>
    {% else %}
      <span></span>
    {% endif %}

    {% if questionTotal > questionNum %}
      <a href="/all-questions/{{ questionNum + 1 }}/">
        Next Question
      </a>
    {% else %}
      <span></span>
    {% endif %}
  </div>
{% endblock %}