:root {
  // COLORS
  // Brand Turquoise
  --brand-turquoise-hsl: 187deg 98% 64%;
  --brand-turquoise: hsl(var(--brand-turquoise-hsl));
  --brand-turquoise-light-1-hsl: 188deg 100% 94%;
  --brand-turquoise-light-1: hsl(var(--brand-turquoise-light-1-hsl));
  --brand-turquoise-light-2-hsl: 188deg 98% 84%;
  --brand-turquoise-light-2: hsl(var(--brand-turquoise-light-2-hsl));
  --brand-turquoise-light-3-hsl: 188deg 100% 74%;
  --brand-turquoise-light-3: hsl(var(--brand-turquoise-light-3-hsl));
  --brand-turquoise-dark-1-hsl: 188deg 100% 38%;
  --brand-turquoise-dark-1: hsl(var(--brand-turquoise-dark-1-hsl));
  --brand-turquoise-dark-2-hsl: 188deg 100% 21%;
  --brand-turquoise-dark-2: hsl(var(--brand-turquoise-dark-2-hsl));
  --brand-turquoise-dark-3-hsl: 188deg 100% 11%;
  --brand-turquoise-dark-3: hsl(var(--brand-turquoise-dark-3-hsl));
  // Brand Pink
  --brand-pink-hsl: 324deg 99% 62%;
  --brand-pink: hsl(var(--brand-pink-hsl));
  --brand-pink-light-1-hsl: 324deg 99% 71%;
  --brand-pink-light-1: hsl(var(--brand-pink-light-1-hsl));
  --brand-pink-light-2-hsl: 324deg 98% 80%;
  --brand-pink-light-2: hsl(var(--brand-pink-light-2-hsl));
  --brand-pink-light-3-hsl: 324deg 100% 90%;
  --brand-pink-light-3: hsl(var(--brand-pink-light-3-hsl));
  --brand-pink-dark-1-hsl: 325deg 85% 39%;
  --brand-pink-dark-1: hsl(var(--brand-pink-dark-1-hsl));
  --brand-pink-dark-2-hsl: 324deg 91% 21%;
  --brand-pink-dark-2: hsl(var(--brand-pink-dark-2-hsl));
  --brand-pink-dark-3-hsl: 324deg 85% 10%;
  --brand-pink-dark-3: hsl(var(--brand-pink-dark-3-hsl));
  // Brand Green
  --brand-green-hsl: 162deg 99% 48%;
  --brand-green: hsl(var(--brand-green-hsl));
  --brand-green-light-1-hsl: 162deg 98% 69%;
  --brand-green-light-1: hsl(var(--brand-green-light-1-hsl));
  --brand-green-light-2-hsl: 163deg 98% 78%;
  --brand-green-light-2: hsl(var(--brand-green-light-2-hsl));
  --brand-green-light-3-hsl: 162deg 100% 88%;
  --brand-green-light-3: hsl(var(--brand-green-light-3-hsl));
  --brand-green-dark-1-hsl: 161deg 82% 37%;
  --brand-green-dark-1: hsl(var(--brand-green-dark-1-hsl));
  --brand-green-dark-2-hsl: 162deg 88% 20%;
  --brand-green-dark-2: hsl(var(--brand-green-dark-2-hsl));
  --brand-green-dark-3-hsl: 162deg 88% 10%;
  --brand-green-dark-3: hsl(var(--brand-green-dark-3-hsl));
  // Brand Gray
  --brand-gray-hsl: 0deg 0% 87%;
  --brand-gray: hsl(var(--brand-gray-hsl));
  --brand-gray-light-1-hsl: 0deg 0% 92%;
  --brand-gray-light-1: hsl(var(--brand-gray-light-1-hsl));
  --brand-gray-light-2-hsl: 0deg 0% 97%;
  --brand-gray-light-2: hsl(var(--brand-gray-light-2-hsl));
  --brand-gray-light-3-hsl: 0deg 0% 100%;
  --brand-gray-light-3: hsl(var(--brand-gray-light-3-hsl));
  --brand-gray-dark-1-hsl: 0deg 0% 82%;
  --brand-gray-dark-1: hsl(var(--brand-gray-dark-1-hsl));
  --brand-gray-dark-2-hsl: 0deg 0% 66%;
  --brand-gray-dark-2: hsl(var(--brand-gray-dark-2-hsl));
  --brand-gray-dark-3-hsl: 0deg 0% 48%;
  --brand-gray-dark-3: hsl(var(--brand-gray-dark-3-hsl));
  // Green Foundry Group
  --foundry-content-base-hsl: 102deg 67% 41%;
  --foundry-content-base: hsl(var(--foundry-content-base-hsl));
  --foundry-content-accent-light-hsl: 77deg 74% 66%;
  --foundry-content-accent-light: hsl(var(--foundry-content-accent-light-hsl));
  --foundry-content-accent-dark-hsl: 102deg 69% 32%;
  --foundry-content-accent-dark: hsl(var(--foundry-content-accent-dark-hsl));
  --foundry-content-gradient-start-hsl: 77deg 71% 67%;
  --foundry-content-gradient-start: hsl(var(--foundry-content-gradient-start-hsl));
  --foundry-content-gradient-end-hsl: 53deg 90% 64%;
  --foundry-content-gradient-end: hsl(var(--foundry-content-gradient-end-hsl));
  // Red Foundry Group
  --foundry-development-base-hsl: 346deg 72% 49%;
  --foundry-development-base: hsl(var(--foundry-development-base-hsl));
  --foundry-development-accent-light-hsl: 15deg 99% 71%;
  --foundry-development-accent-light: hsl(var(--foundry-development-accent-light-hsl));
  --foundry-development-accent-dark-hsl: 346deg 72% 37%;
  --foundry-development-accent-dark: hsl(var(--foundry-development-accent-dark-hsl));
  --foundry-development-gradient-start-hsl: 15deg 97% 71%;
  --foundry-development-gradient-start: hsl(var(--foundry-development-gradient-start-hsl));
  --foundry-development-gradient-end-hsl: 40deg 99% 67%;
  --foundry-development-gradient-end: hsl(var(--foundry-development-gradient-end-hsl));
  // Purple Foundry Group
  --foundry-design-base-hsl: 265deg 57% 34%;
  --foundry-design-base: hsl(var(--foundry-design-base-hsl));
  --foundry-design-accent-light-hsl: 293deg 90% 65%;
  --foundry-design-accent-light: hsl(var(--foundry-design-accent-light-hsl));
  --foundry-design-accent-dark-hsl: 265deg 58% 13%;
  --foundry-design-accent-dark: hsl(var(--foundry-design-accent-dark-hsl));
  --foundry-design-gradient-start-hsl: 294deg 83% 65%;
  --foundry-design-gradient-start: hsl(var(--foundry-design-gradient-start-hsl));
  --foundry-design-gradient-end-hsl: 327deg 87% 58%;
  --foundry-design-gradient-end: hsl(var(--foundry-design-gradient-end-hsl));
  // Blue Foundry Group
  --foundry-culture-base-hsl: 207deg 85% 38%;
  --foundry-culture-base: hsl(var(--foundry-culture-base-hsl));
  --foundry-culture-accent-light-hsl: 187deg 63% 82%;
  --foundry-culture-accent-light: hsl(var(--foundry-culture-accent-light-hsl));
  --foundry-culture-accent-dark-hsl: 207deg 86% 30%;
  --foundry-culture-accent-dark: hsl(var(--foundry-culture-accent-dark-hsl));
  --foundry-culture-gradient-start-hsl: 182deg 57% 80%;
  --foundry-culture-gradient-start: hsl(var(--foundry-culture-gradient-start-hsl));
  --foundry-culture-gradient-end-hsl: 159deg 84% 60%;
  --foundry-culture-gradient-end: hsl(var(--foundry-culture-gradient-end-hsl));
  // Black and White
  --smokey-black-hsl: 0deg 0% 4%;
  --smokey-black: hsl(var(--smokey-black-hsl));
  --white-hsl: 0deg 0% 100%;
  --white: hsl(var(--white-hsl));
  // Named Extras
  --ink-hsl: 0deg 0% 12%;
  --ink: hsl(var(--ink-hsl));
  --paper: var(--brand-gray-light-2);
  --shadow: hsl(var(--smokey-black-hsl) / 10%);
  --correct: var(--foundry-content-base);
  --correct-accent: var(--foundry-content-accent-dark);
  --incorrect: var(--foundry-development-base);
  --incorrect-accent: var(--foundry-development-accent-dark);
  --text-color-hsl: var(--ink-hsl);
  --text-color: hsl(var(--text-color-hsl));
  --background-color-hsl: var(--white-hsl);
  --background-color: hsl(var(--background-color-hsl));
  --link-color-hsl: var(--foundry-culture-base-hsl);
  --link-color: hsl(var(--link-color-hsl));
  --link-color-line: hsl(var(--link-color-hsl) / 50%);
  // Content Width
  --content-width: min(100vw - 2rem, 60rem);
  --max-width: min(100vw - 2rem, 80rem);

  @media (prefers-color-scheme: dark) {
    --shadow: hsl(var(--white-hsl) / 10%);
    --correct-accent: var(--foundry-content-accent-light);
    --incorrect-accent: var(--foundry-development-accent-light);
    --text-color-hsl: var(--white-hsl);
    --text-color: hsl(var(--text-color-hsl));
    --background-color-hsl: var(--ink-hsl);
    --background-color: hsl(var(--background-color-hsl));
    --link-color-hsl: var(--brand-turquoise-hsl);
    --link-color: hsl(var(--link-color-hsl));
    --link-color-line: hsl(var(--link-color-hsl) / 50%);
  }
}
