node_modules
dist
.env
coverage
.DS_Store

# Local Netlify folder
.netlify
netlify/functions/on-demand/**
!netlify/functions/on-demand/index.js

netlify/functions/dynamic/**
!netlify/functions/dynamic/index.js
