// This add an outline to all content in order
// to distinguish shapes from the background.

@mixin outline {
	--a: -1px;
	--b: 1px;
	--color: var(--background-color);

	// mask: linear-gradient(var(--color) 0 0) text;
}
