---
pagination:
  data: questionData.flashCardQuestions
  size: 1
  alias: question
permalink: /all/flash-cards/{{ pagination.pageNumber + 1 }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set questionTotal = questionData.flashCardQuestions.length %}
{% set seoTitle %}
  Question {{ pagination.pageNumber + 1 }} of {{ questionTotal }} | All Questions | Trivia11y
{% endset %}
{% set seoDescription %}
  Answer question {{ pagination.pageNumber + 1 }} of {{ questionTotal }} in all categories.
{% endset %}

{% block titleAndDescription %}
  {% from 'macros/seo-info.njk' import seoInfo %}
  {{ seoInfo(seoTitle, seoDescription) }}
{% endblock %}

{% block content %}
<div class="obj-content-width">
  <article>
    <header class="cmp-game-header">
      <h1 class="cmp-game-header__title">All Categories</h1>
      <h2 class="cmp-game-header__question-count">Question {{ pagination.pageNumber + 1 }} of {{ questionTotal }}</h2>
    </header>

    {% from 'macros/flash-card.njk' import flashCard %}
    {{ flashCard(question) }}

    <div class="cmp-pagination">
      {% if questionTotal > pagination.pageNumber + 1 %}
        <a href="/all/flash-cards/{{ pagination.pageNumber + 2 }}/">
          Next Question
        </a>
      {% else %}
        <span></span>
      {% endif %}

      {% if pagination.pageNumber + 1 > 1 %}
        <a href="/all/flash-cards/{{ pagination.pageNumber }}/">
          Previous Question
        </a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}
