@use "../tools/text-outline" as text;

.cmp-answer {
  margin-block: 1.5rem;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);

  &__reveal {
    @include text.outline;

    cursor: pointer;
    margin-block: 1rem;
    text-decoration: underline;
    text-decoration-color: hsl(var(--text-color-hsl) / 0%);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 250ms ease-in-out;

    &:hover {
      text-decoration-color: var(--text-color);
    }
  }

  &__container {
    padding: 3rem;
    background-color: var(--background-color);
    border: 0.125rem solid currentcolor;
    border-radius: 0.25rem;
  }

  &__container p {
    margin: 0;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);

    &:not(:first-child) {
      margin-block-start: 1rem;
    }
  }
}
