.cmp-categories {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &__item:first-child {
    grid-column: span 2;
  }

  &__item:first-child &__link {
    aspect-ratio: 32 / 9;
  }

  &__link {
    text-align: center;
    padding-inline: 1em;
    line-height: 1.15;
    font-size: clamp(1.25rem, 5vw, 2.5rem);
    font-stretch: 150%;
    font-weight: 300;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--ink);
    color: var(--color);
    transition:
      background-color 150ms ease-in-out,
      color 150ms ease-in-out;

    &:hover {
      animation: link-pop 250ms linear;
      transition:
        background-color 150ms 130ms ease-in-out,
        color 150ms 130ms ease-in-out;
      background-color: var(--hover-color);
      color: var(--white);
    }

    &:focus {
      outline-color: var(--smokey-black);
    }

    .cmp-categories__item:first-child & {
      --color: var(--white);
      --hover-color: var(--brand-gray-dark-3);
    }

    .cmp-categories__item:nth-child(3n):not(:first-child) & {
      --color: var(--brand-pink);
      --hover-color: var(--brand-pink-dark-1);
    }

    .cmp-categories__item:nth-child(3n + 1):not(:first-child) & {
      --color: var(--brand-green);
      --hover-color: var(--brand-green-dark-1);
    }

    .cmp-categories__item:nth-child(3n + 2):not(:first-child) & {
      --color: var(--brand-turquoise);
      --hover-color: var(--brand-turquoise-dark-2);
    }
  }
}

@keyframes link-pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
