@use "../tools/svg" as *;

@keyframes categories-rotate {
  to {
    transform: rotateY(360deg);
  }
}

.cmp-categories {
  list-style: none;
  padding-block: 0;
  padding-inline: 2rem 0;

  &__link {
    position: relative;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: hsl(var(--text-color-hsl) / 50%);
    text-align: center;
    line-height: 1.15;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
    font-stretch: 100%;
    font-weight: 400;
    padding-block: 0.5rem;
    display: inline-flex;
    align-items: center;
    transition: color 150ms ease-in-out, text-decoration-color 150ms ease-in-out;

    &:hover {
      color: var(--foundry-culture-base);
      text-decoration-color: hsl(var(--text-color-hsl) / 0%);

      @media (prefers-color-scheme: dark) {
        color: var(--brand-turquoise);
        text-decoration-color: hsl(var(--text-color-hsl) / 0%);
      }
    }

    &::before,
    &::after {
      pointer-events: none;
      opacity: 0;
      content: '';
      display: block;
      position: absolute;
      inset-inline-end: calc(100% + 0.5rem);
      height: 1.5rem;
      width: 1.5rem;
      transition: opacity 150ms ease-in-out;
    }

    &::before {
      background-image: svg('<svg viewBox="0 0 24 24"><path d="M1 8 1 1 8 1 M1 16 1 23 8 23 M16 23 23 23 23 16 M16 1 23 1 23 8" stroke-width="4" stroke="hsl(207deg 85% 38%)" fill="none" /></svg>');
    }

    &::after {
      background-image: svg('<svg viewBox="0 0 24 24"><circle fill="hsl(207deg 85% 38%)" cx="12" cy="12" r="4" /></svg>');
    }

    &:hover::before,
    &:focus::before {
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        animation: categories-rotate 2s linear infinite;
      }
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
    }

    @media (prefers-color-scheme: dark) {
      &::before {
        background-image: svg('<svg viewBox="0 0 24 24"><path d="M1 8 1 1 8 1 M1 16 1 23 8 23 M16 23 23 23 23 16 M16 1 23 1 23 8" stroke-width="2" stroke="hsl(187deg 98% 64%)" fill="none" /></svg>');
      }

      &::after {
        background-image: svg('<svg viewBox="0 0 24 24"><circle fill="hsl(187deg 98% 64%)" cx="12" cy="12" r="4" /></svg>');
      }
    }
  }
}
