.cmp-explanation-section {
	margin-block: 2rem;

	&__title {
		font-weight: 600;
		margin: 0;

		&--correct {
			color: var(--foundry-content-base);
		}
		&--incorrect {
			color: var(--foundry-development-base);
		}
	}

	> p {
		max-width: 60ch;
		margin: 0;
	}

	> p + p {
		margin-block-start: 1em;
	}
}
