.cmp-footer {
	--blur: blur(4px);

	width: var(--content-width);
	margin-inline: auto;
	background-color: hsl(var(--white-hsl) / 70%);
	-webkit-backdrop-filter: var(--blur); /* stylelint-disable-line property-no-vendor-prefix */
	backdrop-filter: var(--blur);
	box-sizing: border-box;
	padding: 1rem;
	margin-block-end: 3rem;
	border-radius: 0.25rem;
	border: 1px solid hsl(var(--smokey-black-hsl) / 10%);
	box-shadow: 0 0 0 2px var(--background-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1.5rem;
	color: hsl(0deg 0% 25%);

	@media (prefers-color-scheme: dark) {
		background-color: hsl(var(--background-color-hsl) / 70%);
		border: 1px solid hsl(var(--white-hsl) / 10%);
		color: hsl(0deg 0% 75%);
	}

	&__info {
		font-size: clamp(0.875rem, 0.875rem + 0.5vw, 1.125rem);
		margin: 0;
		flex-basis: max(18rem, auto);
		flex-shrink: 1;
		filter: none;
	}
}
