@use "../settings/breakpoints" as bp;

@keyframes pop {
	10% {
		scale: 0.95;
		translate: 0 0.25rem;
	}
	50% {
		scale: 1.1;
		translate: 0 -0.5rem;
	}
	100% {
		scale: 1;
		translate: 0 0;
	}
}

.cmp-header {
	position: relative;
	padding-block: 1.5rem;

	&__nav {
		position: relative;
		z-index: 200;
		width: var(--width);
		margin-inline: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav-item {
		white-space: nowrap;
		display: inline-flex;
		text-decoration: none;
		font-stretch: 125%;
		font-size: clamp(1.75rem, 1.75rem + 1vw, 3rem);
		color: var(--color-text);
		font-weight: 600;
		transition: color ease-in-out 150ms;

		&:hover{
			color: var(--brand-pink);
			transition-delay: 450ms;
		}

		& > span {
			display: inline-block;
			will-change: transform;
		}

		& > span:not(:first-child) {
			margin-inline-start: -1px;
		}
	}

	&__nav-item:hover > span {
		animation: pop 500ms ease-in-out forwards 1;

		@for $i from 1 through 8 {
			$n: $i + 1;
			&:nth-child(#{$n}) {
				animation-delay: #{50ms * $i};
			}
		}
	}

	&__nav-item > &__nav-highlight {
		white-space: nowrap;
		display: flex;
		color: var(--brand-pink);
	}

	&__nav-sparkbox {
		--size: 1.75rem;
		color: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: var(--size);
		width: var(--size);

		@media (min-width: bp.$md) {
			--size: 2.5rem;
			width: calc(var(--size) * ( 578 / 154 ));
		}
	}

	&__sparkbox-logo {
		fill: currentColor;
		width: 100%;
		transition: color ease-in-out 250ms;

		&--symbol {
			aspect-ratio: 1 / 1;

			@media (min-width: bp.$md) {
				display: none;
			}
		}

		&--lockup {
			display: none;

			@media (min-width: bp.$md) {
				aspect-ratio: 578 / 154;
				display: block;
			}
		}

		&:hover {
			color: var(--brand-turquoise-dark-1);

			@media (prefers-color-scheme: dark) {
				color: var(--brand-turquoise);
			}
		}
	}
}
