$bp-md: 40rem;

.cmp-header {
	position: relative;
	padding-block: 1.5rem;
	color: var(--white);
	background:
		linear-gradient(0deg, hsl(0deg 0% 15%), hsl(0deg 0% 15% / 0%)),
		url("/pattern.svg") center hsl(0deg 0% 15%);
}

.cmp-header__nav {
	position: relative;
	z-index: 200;
	width: var(--width);
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

.cmp-header__nav-item {
	display: inline-block;
	text-decoration-color: #fff0;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.0625em;
	font-stretch: 150%;
	font-size: clamp(1.75rem, 1.75rem + 1vw, 3rem);
	color: inherit;
	font-weight: 200;
	transition: text-decoration-color ease-in-out 150ms;
}

.cmp-header__nav-item:hover {
	text-decoration-color: currentcolor;
}

.cmp-header__nav-highlight {
	background: var(--gradient-blue-green);
	background-clip: text;
	color: transparent;
	font-weight: 600;
}

.cmp-header__nav-sparkbox {
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 2.5rem;
}

.cmp-header__sparkbox-logo {
	fill: currentColor;
	height: 2.5rem;
	width: 100%;
	aspect-ratio: 1 / 1;

	@media (min-width: $bp-md) {
		display: none;
	}
}

.cmp-header__sparkbox-lockup {
	fill: currentColor;
	height: 2.5rem;
	width: 100%;
	aspect-ratio: 578 / 154;
	display: none;

	@media (min-width: $bp-md) {
		display: unset;
	}
}
