.cmp-option-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--background-color);
  color: inherit;
  font-family: inherit;
  text-align: left;
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.2;
  border: 0.125rem solid currentcolor;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0 0 var(--shadow);
  transition: ease-in-out 250ms;
  transition-property: background-color, border-color, translate, box-shadow;

  &:hover {
    translate: 0.25rem 0.25rem;
    box-shadow: 0 0 0 0 var(--shadow);
  }

  &:not([aria-pressed='true']):hover {
    background-color: var(--foundry-culture-accent-light);
    border-color: var(--foundry-culture-base);

    @media (prefers-color-scheme: dark) {
      border-color: var(--brand-turquoise);
    }
  }
}

.cmp-option-button[aria-pressed='true'] {
  color: var(--white);
  border-color: var(--incorrect-accent);
  background-color: var(--incorrect);
}

.cmp-option-button[aria-pressed='true'][data-correct='true'] {
  border-color: var(--correct-accent);
  background-color: var(--correct);
}
