---
pagination:
  data: questionData.questionGroups
  size: 1
  alias: questionGroup
permalink: /multiple-choice/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set seoTitle %}Question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} | Multiple Choice - {{ questionGroup.category }} | Trivia11y{% endset %}
{% set seoDescription %}Answer question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} about {{ questionGroup.category }} (Multiple Choice).{% endset %}

{% block titleAndDescription -%}
  {% from 'macros/seo-info.njk' import seoInfo %}
  {{ seoInfo(seoTitle, seoDescription) }}
{%- endblock %}

{% block content %}

<div class="obj-content-width">
  <article>
    <header class="cmp-game-header">
      <h1 class="cmp-game-header__title">Category: {{ questionGroup.category }}</h1>
      <h2 class="cmp-game-header__question-count">Question <span data-question-number>{{ questionGroup.pageNumber }}</span> of {{ questionGroup.questionTotal }}</h2>
    </header>

    {% from 'macros/multiple-choice.njk' import multipleChoice %}
    {{ multipleChoice(questionGroup.question) }}

    <div class="cmp-pagination">
      {% if questionGroup.questionTotal > questionGroup.pageNumber %}
        <a href="/multiple-choice/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber + 1 }}/" data-next-link>
          Next Question
        </a>
      {% else %}
        <span></span>
      {% endif %}

      {% if questionGroup.pageNumber > 1 %}
        <a href="/multiple-choice/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber - 1 }}/" data-prev-link>
          Previous Question
        </a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}

{% block scripts %}
  <script src="/js/multiple-choice.js" type="module"></script>
  <script src="/js/update-pagination-links.js" type="module"></script>
{% endblock %}
