{% macro categories(catdir, title, questionData) %}
<h3 id="{{ catdir }}" class="cmp-category-heading">
	<a href="#{{ catdir }}" class="cmp-category-heading__link">{{ title }}</a>
</h3>

<ul class="cmp-categories">
	<li class="cmp-categories__item">
		<a href="/all/{{ catdir }}/1/" class="cmp-categories__link">
			All Questions
		</a>
	</li>
{% for category in questionData %}
	{% include 'partials/category.njk' %}
{% endfor %}
</ul>
{% endmacro %}
