{% macro flashCard(question) %}
  <div class="cmp-question">
    {{ question.Question | mdToHtml | safe }}
  </div>
  <details class="cmp-answer">
    <summary>
      Reveal Answer
    </summary>
    <div>
      {{ question.Answer | mdToHtml | safe }}
      {% if question.Explanation %}
        {{ question.Explanation | mdToHtml | safe }}
      {% endif %}
    </div>
  </details>
{% endmacro %}