{% macro gameSettings(title, categories, gameType) %}
	<div class="obj-width-limiter">
		<h1>{{ title }}</h1>

		<form class="cmp-stack cmp-stack--large" method="GET" action="/{{ gameType }}/all-questions/1/" data-game-settings>
			<fieldset>
				<legend>Question Categories</legend>
				<div class="cmp-checkbox__grid">
					{% for category in categories %}
						<div class="cmp-checkbox__wrapper">
							<input id="{{ category | slugify }}" type="checkbox" name="category" value="{{ category }}" class="cmp-checkbox__input">
							<label for="{{ category | slugify }}">{{ category }} <span data-category="{{ category }}"></span></label>
						</div>
					{% endfor %}
				</div>
			</fieldset>
			<div class="cmp-form">
				<label for="max-questions" class="cmp-form__label">Max Questions</label>
				<p id="max-questions-description" class="cmp-form__description">
					Choose how many questions you want to answer this round. Some questions belong to multiple categories, but we'll only show each question once.
				</p>
				<input id="max-questions" type="text" class="cmp-form__input cmp-form__input--mini" aria-describedby="max-questions-description">
			</div>
			<div>
				<button type="submit" class="cmp-button">Start Game (<span data-question-total>All</span> Questions)</button>
			</div>
		</form>
	</div>
{% endmacro %}
