{% macro gameSettings(title, categories) %}
	<div class="obj-width-limiter">
		<h1>{{ title }}</h1>

		<form data-game-settings>
			<fieldset>
				<legend>Question Categories</legend>
				<div>
					{% for category in categories %}
						<div>
							<input id="{{ category | slugify }}" type="checkbox" name="category" value="{{ category }}">
							<label for="{{ category | slugify }}">{{ category }} <span data-category="{{ category }}"></span></label>
						</div>
					{% endfor %}
				</div>
			</fieldset>
			<div>
				<button type="submit">Start Game (<span data-question-total>0</span> Questions)</button>
			</div>
		</form>
	</div>
{% endmacro %}
