{% macro seoInfo(seoTitle, seoDescription) %}
  <title>{{ seoTitle }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <meta property="og:title" content="{{ seoTitle }}">
  <meta property="twitter:title" content="{{ seoTitle }}">
  <meta property="og:description" content="{{ seoDescription }}">
  <meta property="twitter:description" content="{{ seoDescription }}">
{% endmacro %}