{% macro shortAnswer(question) %}
  <div class="cmp-question">
    {{ question.Question | mdToHtml | safe }}
  </div>
  <form id="answerForm" class="cmp-inline-form">
    <div>
      <label for="userAnswer" class="cmp-inline-form__label">
        Your Answer
      </label>
      <input id="userAnswer" type="text" name="answer" autofill="false" autocomplete="off" class="cmp-inline-form__input">
    </div>
    <div>
      <button type="submit" class="cmp-button">
        Submit
      </button>
    </div>
  </form>
  <div id="acceptedAnswerSection" tabindex="-1"></div>
  <template id="acceptedAnswer">
    <p>Correct Answer:</p>
    {{ question.Answer | mdToHtml | safe }}
    {% if question.Explanation %}
      {{ question.Explanation | mdToHtml | safe }}
    {% endif %}
  </template>
{% endmacro %}
