---
permalink:
  on-demand: /questions/:tag/:questionNumber/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set questionNum = eleventy.serverless.path.questionNumber | int %}
{% set questionTotal = questionData.questionGroups[eleventy.serverless.path.tag].questions.length %}
{% set tagName = questionData.questionGroups[eleventy.serverless.path.tag].tagName %}
{% set question = questionData.questionGroups[eleventy.serverless.path.tag].questions[questionNum - 1] %}

{% block titleAndDescription %}
  <title>Question {{ questionNum }} of {{ questionTotal }} | {{ tagName }} | Trivia11y</title>
  <meta name="description" content="Answer question {{ questionNum }} of {{ questionTotal }} about {{ tagName }}.">
{% endblock %}

{% block content %}
  <h1>{{ tagName }}: Question {{ questionNum }} of {{ questionTotal }}</h1>

  {% from 'macros/flash-card.njk' import flashCard %}
  {{ flashCard(question) }}

  <div class="cmp-pagination">
    {% if questionNum > 1 %}
      <a href="/questions/{{ eleventy.serverless.path.tag }}/{{ questionNum - 1 }}/">
        Previous Question
      </a>
    {% else %}
      <span></span>
    {% endif %}

    {% if questionTotal > questionNum %}
      <a href="/questions/{{ eleventy.serverless.path.tag }}/{{ questionNum + 1 }}/">
        Next Question
      </a>
    {% else %}
      <span></span>
    {% endif %}
  </div>
{% endblock %}