html,
body {
  min-height: 100%;
  margin: 0;
}

html {
  text-size-adjust: none;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  font: 100% / 1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
}

:focus {
  outline: 0.125rem solid currentcolor;
  outline-style: dashed;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline-color: transparent;
}

:root {
  color-scheme: light dark;
}
