---
pagination:
  data: questionData.flashCardQuestionGroups
  size: 1
  alias: questionGroup
permalink: /short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set seoTitle %}
  Question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} | {{ questionGroup.category }} | Trivia11y
{% endset %}
{% set seoDescription %}
  Answer question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} about {{ questionGroup.category }}.
{% endset %}

{% block titleAndDescription %}
  <title>{{ seoTitle }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <meta property="og:title" content="{{ seoTitle }}">
  <meta property="og:description" content="{{ seoDescription }}">
{% endblock %}

{% block content %}
  <div class="obj-content-width">
    <article>
      <header class="cmp-game-header">
        <h1 class="cmp-game-header__title">Category: {{ questionGroup.category }}</h1>
        <h2 class="cmp-game-header__question-count">Question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }}</h2>
      </header>

      {% from 'macros/short-answer.njk' import shortAnswer %}
      {{ shortAnswer(questionGroup.question) }}

      <div class="cmp-pagination">
        {% if questionGroup.questionTotal > questionGroup.pageNumber %}
          <a href="/short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber + 1 }}/">
            Next Question
          </a>
        {% else %}
          <span></span>
        {% endif %}

        {% if questionGroup.pageNumber > 1 %}
          <a href="/short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber - 1 }}/">
            Previous Question
          </a>
        {% else %}
          <span></span>
        {% endif %}
      </div>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    {% include 'js/short-answer.js' %}
  </script>
{% endblock %}
