---
pagination:
  data: questionData.flashCardQuestionGroups
  size: 1
  alias: questionGroup
permalink: /short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set seoTitle %}Question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }} | Short Answer - {{ questionGroup.category }} | Trivia11y{% endset %}
{% set seoDescription %}Answer question {{ questionGroup.pageNumber }} of {{ questionGroup.questionTotal }}: {{ questionGroup.category }} (Short Answer).{% endset %}

{% block titleAndDescription -%}
  {% from 'macros/seo-info.njk' import seoInfo %}
  {{ seoInfo(seoTitle, seoDescription) }}
{%- endblock %}

{% block content %}
  <div class="obj-content-width">
    <article>
      <header class="cmp-game-header">
      <h1 class="cmp-game-header__title">
        {% if questionGroup.category !== 'All Questions' %}
          Category: {{ questionGroup.category }}
        {% else %}
          All Categories
        {% endif %}
      </h1>
        <h2 class="cmp-game-header__question-count">Question <span data-question-number>{{ questionGroup.pageNumber }}</span> of {{ questionGroup.questionTotal }}</h2>
      </header>

      {% from 'macros/short-answer.njk' import shortAnswer %}
      {{ shortAnswer(questionGroup.question) }}

      <div class="cmp-pagination">
        {% if questionGroup.questionTotal > questionGroup.pageNumber %}
          <a href="/short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber + 1 }}/" data-next-link>
            Next Question
          </a>
        {% else %}
          <span></span>
        {% endif %}

        {% if questionGroup.pageNumber > 1 %}
          <a href="/short-answer/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber - 1 }}/" data-prev-link>
            Previous Question
          </a>
        {% else %}
          <span></span>
        {% endif %}
      </div>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/short-answer.js" type="module"></script>
{% endblock %}
