<h3 id="{{ catdir }}">
	<a href="#{{ catdir }}">{{ cattitle }}</a>
</h3>

<ul class="cmp-categories">
	<li class="cmp-categories__item">
		<a href="/all/{{ catdir }}/1/" class="cmp-categories__link">
			All Questions
		</a>
	</li>
{% for category in questionData.categories %}
	{% include 'partials/category.njk' %}
{% endfor %}
</ul>
