<li class="cmp-categories__item">
	<a href="/{{ catdir }}/{{ category | slugify }}/1/" class="cmp-categories__link" data-type="{{ title }}" data-category="{{ category }}" data-base-link="/{{ catdir }}/{{ category | slugify }}/">
		{{ category }}
	</a>
</li>
