<footer class="cmp-footer">
	<p class="cmp-footer__info">Made by your friends at <a href="https://sparkbox.com">Sparkbox</a></p>
	<p class="cmp-footer__info">Fork or contribute on <a href="http://github.com/sparkbox/trivia11y">GitHub</a></p>
</footer>
