<header class="cmp-header">
  <nav class="cmp-header__nav">
    <a href="/" rel="home" aria-label="Triviaccessibility" class="cmp-header__nav-item">Trivia<span class="cmp-header__nav-highlight">11</span>y</a>
    <a class="cmp-header__nav-sparkbox" href="https://sparkbox.com" aria-label="External: Sparkbox Website">
      <svg class="cmp-header__sparkbox-logo cmp-header__sparkbox-logo--symbol">
        <use href="#sbxlogo" x="0" y="0" />
      </svg>
      <svg class="cmp-header__sparkbox-logo cmp-header__sparkbox-logo--lockup">
        <use href="#sbxlockup" x="0" y="0" />
      </svg>
    </a>
  </nav>
</header>
