.cmp-answer {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.cmp-answer__summary {
  cursor: pointer;
  margin-block: 1rem;
}

.cmp-answer__reveal {
  padding: 3rem;
  border: 0.125rem solid currentcolor;
  border-radius: 0.25rem;
}

.cmp-answer p {
  margin: 0;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.cmp-answer p:not(:first-child) {
  margin-block-start: 1rem;
}
