:root {
  --ink: hsl(0deg 0% 12%);
  --paper: hsl(0deg 0% 95%);
  --shadow: #999;
  --correct: forestgreen;
  --incorrect: tomato;
  --smokey-black: hsl(0deg 0% 4%);
  --white: hsl(0deg 0% 100%);

  --blue-h: 187deg;
  --blue-s: 99%;
  --blue-l: 64%;

  --brand-turquoise: hsl(var(--blue-h) var(--blue-s) var(--blue-l));

  --brand-turquoise-light-1: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) + 8%));
  --brand-turquoise-light-2: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) + 16%));
  --brand-turquoise-light-3: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) + 24%));

  --brand-turquoise-dark-1: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) - 16%));
  --brand-turquoise-dark-2: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) - 32%));
  --brand-turquoise-dark-3: hsl(var(--blue-h) var(--blue-s) calc(var(--blue-l) - 48%));


  --pink-h: 324deg;
  --pink-s: 99%;
  --pink-l: 62%;

  --brand-pink: hsl(var(--pink-h) var(--pink-s) var(--pink-l));

  --brand-pink-light-1: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) + 8%));
  --brand-pink-light-2: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) + 16%));
  --brand-pink-light-3: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) + 24%));

  --brand-pink-dark-1: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) - 16%));
  --brand-pink-dark-2: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) - 32%));
  --brand-pink-dark-3: hsl(var(--pink-h) var(--pink-s) calc(var(--pink-l) - 48%));

  --green-h: 162deg;
  --green-s: 99%;
  --green-l: 48%;

  --brand-green: hsl(var(--green-h) var(--green-s) var(--green-l));

  --brand-green-light-1: hsl(var(--green-h) var(--green-s) calc(var(--green-l) + 12%));
  --brand-green-light-2: hsl(var(--green-h) var(--green-s) calc(var(--green-l) + 24%));
  --brand-green-light-3: hsl(var(--green-h) var(--green-s) calc(var(--green-l) + 36%));

  --brand-green-dark-1: hsl(var(--green-h) var(--green-s) calc(var(--green-l) - 12%));
  --brand-green-dark-2: hsl(var(--green-h) var(--green-s) calc(var(--green-l) - 24%));
  --brand-green-dark-3: hsl(var(--green-h) var(--green-s) calc(var(--green-l) - 36%));

  --gray-h: 0deg;
  --gray-s: 0%;
  --gray-l: 87%;

  --brand-gray: hsl(var(--gray-h) var(--gray-s) var(--gray-l));

  --brand-gray-light-1: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) + 6%));
  --brand-gray-light-2: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) + 10%));
  --brand-gray-light-3: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) + 13%));

  --brand-gray-dark-1: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) - 16%));
  --brand-gray-dark-2: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) - 32%));
  --brand-gray-dark-3: hsl(var(--gray-h) var(--gray-s) calc(var(--gray-l) - 48%));

  --width: min(100vw - 2rem, 50rem);

  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink: hsl(0deg 0% 95%);
    --paper: hsl(0deg 0% 5%);
    --shadow: #444;
    --correct: forestgreen;
    --incorrect: tomato;
  }
}
