:root {
  --ink: hsl(0deg 0% 12%);
  --paper: hsl(0deg 0% 95%);
  --shadow: #999;
  --correct: forestgreen;
  --incorrect: tomato;
  --black: hsl(0deg 0% 0%);
  --white: hsl(0deg 0% 100%);
  --width: min(100vw - 2rem, 50rem);

  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink: hsl(0deg 0% 95%);
    --paper: hsl(0deg 0% 5%);
    --shadow: #444;
    --correct: forestgreen;
    --incorrect: tomato;
  }
}
