html,
body {
  min-height: 100%;
  margin: 0;
}

html {
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
}

:focus {
  outline: 0.125rem solid currentcolor;
  outline-style: solid;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline-color: transparent;
}

:root {
  color-scheme: light dark;
  font: 100% / 1.5 "Sole Sans", sans-serif;
}
