html,
body {
  height: 100%;
  margin: 0;
}

html {
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl) {
  line-height: calc(1em + 0.5rem);
}

:focus {
  outline: 0.125rem solid currentcolor;
  outline-style: dashed;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline-color: transparent;
}

:root {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
