---
pagination:
  data: questionData.questions
  size: 1
  alias: question
permalink: /all/multiple-choice/{{ pagination.pageNumber + 1 }}/
eleventyExcludeFromCollections: true
---

{% extends 'layout.njk' %}

{% set questionTotal = questionData.questions.length %}
{% set seoTitle %}Question {{ pagination.pageNumber + 1 }} of {{ questionTotal }} | Multiple Choice - All Questions | Trivia11y{% endset %}
{% set seoDescription %}Answer question {{ pagination.pageNumber + 1 }} of {{ questionTotal }} in all Multiple Choice categories.{% endset %}

{% block titleAndDescription -%}
  {% from 'macros/seo-info.njk' import seoInfo %}
  {{ seoInfo(seoTitle, seoDescription) }}
{%- endblock %}

{% block content %}
<div class="obj-content-width">
  <article>
    <header class="cmp-game-header">
      <h1 class="cmp-game-header__title">All Categories</h1>
      <h2 class="cmp-game-header__question-count">Question <span data-question-number>{{ pagination.pageNumber + 1 }}</span> of {{ questionTotal }}</h2>
    </header>

    {% from 'macros/multiple-choice.njk' import multipleChoice %}
    {{ multipleChoice(question) }}

    <div class="cmp-pagination">
      {% if questionTotal > pagination.pageNumber + 1 %}
        <a href="/all/multiple-choice/{{ pagination.pageNumber + 2 }}/" data-next-link>
          Next Question
        </a>
      {% else %}
        <span></span>
      {% endif %}

      {% if pagination.pageNumber + 1 > 1 %}
        <a href="/all/multiple-choice/{{ pagination.pageNumber }}/" data-prev-link>
          Previous Question
        </a>
      {% else %}
        <span></span>
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}

{% block scripts %}
  <script src="/js/multiple-choice.js" type="module"></script>
  <script src="/js/update-pagination-links.js" type="module"></script>
{% endblock %}
