---
title: Home
description: Choose a category to test your accessibility knowledge in.
layout: default
---

<h1>Flash Cards</h1>

<p>
  Choose a category in which to review your knowledge, flash card style.
</p>

<ul class="cmp-categories">
  <li class="cmp-categories__item">
    <a href="/all/flash-cards/1/" class="cmp-categories__link">
      All Questions
    </a>
  </li>
{% for category in questionData.flashCardCategories %}
  <li class="cmp-categories__item">
    <a href="/flash-cards/{{ category | slugify }}/1/" class="cmp-categories__link">
      {{ category }}
    </a>
  </li>
{% endfor %}
</ul>


<h2>Multiple Choice</h2>

<p>
  Choose a category in which to review your knowledge, multiple choice style.
</p>

<ul class="cmp-categories">
  <li>
    <a href="/all/multiple-choice/1/">
      All Questions
    </a>
  </li>
{% for category in questionData.categories %}
  <li>
    <a href="/multiple-choice/{{ category | slugify }}/1/">
      {{ category }}
    </a>
  </li>
{% endfor %}
</ul>
