---
title: Home
description: Choose a category to test your accessibility knowledge in.
layout: default
permalink:
  on-demand: /
---

<h1 aria-label="Triviaccessibility">Trivia11y</h1>

<p>
  Choose a category to study or select "All Questions" to review all subjects at once.
</p>

<ul>
  <li>
    <a href="/all-questions/1/">
      All Questions
    </a>
  </li>
{% for category in questionData.categories %}
  <li>
    <a href="/questions/{{ category | slugify }}/1/">
      {{ category }}
    </a>
  </li>
{% endfor %}
</ul>
