---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
      <loc>{{ processEnv.BASE_URL }}{{ page.url | url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
  {% endfor %}
  {% for question in questionData.flashCardQuestions %}
    <url>
      <loc>{{ processEnv.BASE_URL }}/all/flash-cards/{{ loop.index }}/</loc>
    </url>
  {% endfor %}
  {% for questionGroup in questionData.flashCardQuestionGroups %}
    <url>
      <loc>{{ processEnv.BASE_URL }}/flash-cards/{{ questionGroup.tagName }}/{{ questionGroup.pageNumber }}/</loc>
    </url>
  {% endfor %}
</urlset>
