---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
      <loc>{{ processEnv.BASE_URL }}{{ page.url | url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
  {% endfor %}
  {% for question in questionData.questions %}
    <url>
      <loc>{{ processEnv.BASE_URL }}/all-questions/{{ loop.index }}/</loc>
    </url>
  {% endfor %}
  {% for tag, questionGroup in questionData.questionGroups %}
    {% for question in questionGroup.questions %}
      <url>
        <loc>{{ processEnv.BASE_URL }}/questions/{{ tag }}/{{ loop.index }}/</loc>
      </url>
    {% endfor %}
  {% endfor %}
</urlset>
