---
permalink: /styles.css
eleventyExcludeFromCollections: true
---
{% include 'css/generic.reset.css' %}
{% include 'css/elements.root.css' %}
{% include 'css/elements.a.css' %}
{% include 'css/elements.p.css' %}
{% include 'css/elements.headings.css' %}
{% include 'css/components.container.css' %}
{% include 'css/components.header.css' %}
{% include 'css/components.stack.css' %}
{% include 'css/components.switcher.css' %}
{% include 'css/components.pagination.css' %}
{% include 'css/components.question.css' %}
{% include 'css/components.answer.css' %}
{% include 'css/components.categories.css' %}
{% include 'css/components.option.css' %}
{% include 'css/utility.visually-hidden.css' %}
