---
permalink:
  on-demand: /categories/:tag
  dynamic: /dynamic/categories/:tag
---

{% extends 'layout.njk' %}

{% set chosenCategory %}
  {% for category in questionData.categories %}
    {% set tag = category | slugify %}
    {% if tag === eleventy.serverless.path.tag %}
      {{ category }}
    {% endif %}
  {% endfor %}
{% endset %}

{% block titleAndDescription %}
  <title>{{ chosenCategory.trim() }} | Trivia11y</title>
  <meta name="description" content="Test your knowledge in the {{ chosenCategory.trim() }} category.">
{% endblock %}

{% block content %}
  <h1>{{ chosenCategory.trim() }}</h1>

  {% for question in questionData.questions %}
    {% if chosenCategory.trim() in question.Tags %}
      <div>
        {{ question.Question | mdToHtml | safe }}
      </div>
      <details>
        <summary>
          Reveal Answer
        </summary>
        <div>
          {{ question.Answer | mdToHtml | safe }}
        </div>
      </details>
    {% endif %}
  {% endfor %}
{% endblock %}